@import url(../../assets/css/style.css);
.head {
  display: flex;
  justify-content: space-between;
  padding: 24px 6px;
}
.head h2 {
  color: var(--color-h);
  font-size: 24px;
}
.head span {
  color: var(--outlin-color);
  font-size: 16px;
}
.filter-wrapper {
  display: flex;
}

.filter_fr {
  display: flex;
  margin-top: 12px;
  position: absolute;
  margin-left: 10px;
}
.filter_fr span {
  color: var(--border-input);
}

.btnFilterOpen {
  width: 60px;
  height: 44px;
  background: var(--background);
  border: 1px solid var(--border-btn);
  border-radius: 14px;
  cursor: pointer;
}
.btnFilterClose {
  width: 143px;
  height: 43px;
  background: var(--background);
  border: 1px solid var(--outlin-color);
  border-radius: 14px;
  cursor: pointer;
}
.filter-wrapper i {
  color: var(--outlin-color);
}
.filter-wrapper .fa-xmark {
  display: flex;
  float: right;
  margin: 10px;
  border: 1px solid var(--outlin-color);
  padding: 4px 6px;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .head {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    position: absolute;
    top: 0;
    align-content: space-around;
    justify-content: space-between;
    grid-gap: 146px;
  
  }
  .btnFilterClose {
    display: none;
  }
}
